.page-links {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    margin: auto
}

.page-links-item:hover {
    color:#aaa;
}

.page-links-item {
    text-align: center;
    margin: auto;
    color: #444;
}