@font-face {
    font-family: "Karla-Normal";
    src: url(./fonts/Karla/Karla-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Karla-Italics";
    src: url(./fonts/Karla/Karla-Italic-VariableFont_wght.ttf);
}

body {
    margin: 40px auto;
    max-width: 850px;
    line-height: 1.6;
    font-size: 16px;
    font-family: "Karla", sans-serif;
    color: #444;
    padding: 10px;
}
h1, h2, h3 {
    line-height: 1.2;
}